mule-module/src/test/resources/mule-opentelemetry-operations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:opentelemetry="http://www.mulesoft.org/schema/mule/opentelemetry" xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/opentelemetry http://www.mulesoft.org/schema/mule/opentelemetry/current/mule-opentelemetry.xsd">

    <import file="global-common.xml"/>

    <flow name="mule-opentelemetry-custom-tags" doc:id="ddcac188-d00c-4614-ba69-5deef8575938" >
        <http:listener doc:name="Listener" doc:id="96ac0ccd-1027-495e-9dbd-57f176233ff3" config-ref="HTTP_Listener_config" path="/tags"/>
        <logger level="INFO" doc:name="Logger" doc:id="97393612-d33a-466f-b9b5-600a21098532" />
        <opentelemetry:add-custom-tags doc:name="Add custom tags" doc:id="3e5c38f9-a197-4ee6-bb1a-9419e69f9fc5" config-ref="OpenTelemetry_Config">
            <opentelemetry:tags>
                <opentelemetry:tag key="orderId" value="#[attributes.queryParams.orderId]" />
                <opentelemetry:tag key="quantity" value="20" />
            </opentelemetry:tags>
        </opentelemetry:add-custom-tags>
        <set-variable variableName="httpStatus" value="#[200]"/>
        <set-payload value="Tag Payload" doc:name="Set Payload" doc:id="6bb91307-b173-4256-8c64-491dad475af7" />
        <opentelemetry:add-custom-tags doc:name="Add custom tags" doc:id="937c3f56-019e-4f69-b3bf-1c9dd7ac6988" config-ref="OpenTelemetry_Config">
            <opentelemetry:tags >
                <opentelemetry:tag key="payload" value="#[payload]" />
            </opentelemetry:tags>
        </opentelemetry:add-custom-tags>
        <logger level="INFO" doc:name="Logger" doc:id="f0b7d26d-3f66-4bed-afeb-f70fa8d739ec" />
    </flow>

    <flow name="mule-opentelemetry-transaction-tags" doc:id="ddcac188-d00c-4614-ba69-5deef8575938" >
        <http:listener doc:name="Listener" doc:id="96ac0ccd-1027-495e-9dbd-57f176233ff3" config-ref="HTTP_Listener_config" path="/transaction-tags"/>
        <logger level="INFO" doc:name="Logger" doc:id="97393612-d33a-466f-b9b5-600a21098532" />
        <opentelemetry:add-transaction-tags doc:name="Add custom tags" doc:id="3e5c38f9-a197-4ee6-bb1a-9419e69f9fc5" config-ref="OpenTelemetry_Config">
            <opentelemetry:tags>
                <opentelemetry:tag key="orderId" value="#[attributes.queryParams.orderId]" />
                <opentelemetry:tag key="quantity" value="20" />
            </opentelemetry:tags>
        </opentelemetry:add-transaction-tags>
        <set-variable variableName="httpStatus" value="#[200]"/>
        <set-payload value="Tag Payload" doc:name="Set Payload" doc:id="6bb91307-b173-4256-8c64-491dad475af7" />
        <opentelemetry:add-transaction-tags doc:name="Add Transaction tags" doc:id="937c3f56-019e-4f69-b3bf-1c9dd7ac6988" config-ref="OpenTelemetry_Config">
            <opentelemetry:tags >
                <opentelemetry:tag key="payload" value="#[payload]" />
            </opentelemetry:tags>
        </opentelemetry:add-transaction-tags>
        <logger level="INFO" doc:name="Logger" doc:id="f0b7d26d-3f66-4bed-afeb-f70fa8d739ec" />
    </flow>

    <flow name="mule-opentelemetry-get-trace-context" doc:id="ddcac188-d00c-4614-ba69-5deef8575938" >
        <http:listener doc:name="Listener" doc:id="96ac0ccd-1027-495e-9dbd-57f176233ff3" config-ref="HTTP_Listener_config" path="/tracecontext"/>
        <logger level="INFO" doc:name="Logger" doc:id="97393612-d33a-466f-b9b5-600a21098532" />
        <opentelemetry:get-trace-context doc:name="Get Trace Context" doc:id="50381ac8-89c8-4993-abdd-7d1af518ea2d" config-ref="OpenTelemetry_Config" target="OTEL_CONTEXT"/>
        <set-variable variableName="httpStatus" value="#[200]"/>
        <set-payload value="#[output json --- vars.OTEL_CONTEXT]" doc:name="Set Payload" doc:id="110a2c1c-3824-4358-87e5-74c9c489f174" mimeType="text/plain" />
        <logger level="INFO" doc:name="Logger" doc:id="f0b7d26d-3f66-4bed-afeb-f70fa8d739ec" />
    </flow>

    <flow name="mule-opentelemetry-get-current-trace-context" doc:id="ddcac188-d00c-4614-ba69-5deef8575938" >
        <http:listener doc:name="Listener" doc:id="96ac0ccd-1027-495e-9dbd-57f176233ff3" config-ref="HTTP_Listener_config" path="/current-trace-context"/>
        <logger level="INFO" doc:name="Logger" doc:id="97393612-d33a-466f-b9b5-600a21098532" />
        <opentelemetry:get-current-trace-context doc:name="Get Current Trace Context" doc:id="50381ac8-89c8-4993-abdd-7d1af518ea2d" config-ref="OpenTelemetry_Config" target="OTEL_CONTEXT"/>
        <set-variable variableName="httpStatus" value="#[200]"/>
        <set-payload value="#[output json --- vars.OTEL_CONTEXT]" doc:name="Set Payload" doc:id="110a2c1c-3824-4358-87e5-74c9c489f174" mimeType="text/plain" />
        <logger level="INFO" doc:name="Logger" doc:id="f0b7d26d-3f66-4bed-afeb-f70fa8d739ec" />
    </flow>

</mule>
