src/test/resources/db-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:opentelemetry="http://www.mulesoft.org/schema/mule/opentelemetry" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/opentelemetry http://www.mulesoft.org/schema/mule/opentelemetry/current/mule-opentelemetry.xsd">

	<import file="global-common.xml"/>

	<db:config name="Database_Config" doc:name="Database Config" doc:id="4842c293-40f4-4293-a5f5-33f8dc66f66e" >
		<db:generic-connection url="jdbc:derby:memory:demodb;create=true" driverClassName="org.apache.derby.jdbc.EmbeddedDriver" />
	</db:config>
	<flow name="init-db" doc:id="e917a69e-3ee2-4ff8-b60d-4a59f06a85f4" >
		<db:execute-script doc:name="Execute script" doc:id="25fe326c-18dc-4a30-a4c1-fb9f7782d116" config-ref="Database_Config" file="create-db.sql" />
	</flow>

	<flow name="DB-select-Flow" doc:id="3f254a47-6af7-4b6b-866d-8b96a2348568" >
		<http:listener doc:name="Listener" doc:id="1c8300a4-56da-490e-a704-033cbdea75a2" config-ref="HTTP_Listener_config" path="/test/db/select">
			<http:error-response >
				<http:body ><![CDATA[#[output text/plain --- 'Failed']]]></http:body>
			</http:error-response>
		</http:listener>
		<db:select doc:name="Select" doc:id="ca3b24fc-4f6e-4a98-bc0b-8862449c5c94" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from testdb.users]]></db:sql>
		</db:select>
		<set-payload value="#[output applicaton/json --- payload]" doc:name="Set Payload" doc:id="f5b6ab5f-a2f5-4f75-a17b-59da8e8a2dcd" />
	</flow>

	<flow name="DB-insert-Flow" doc:id="3f254a47-6af7-4b6b-866d-8b96a2348568" >
		<http:listener doc:name="Listener" doc:id="1c8300a4-56da-490e-a704-033cbdea75a2" config-ref="HTTP_Listener_config" path="/test/db/insert">
			<http:error-response >
				<http:body ><![CDATA[#[output text/plain --- 'Failed']]]></http:body>
			</http:error-response>
		</http:listener>
		<db:insert doc:name="Insert" doc:id="3d66ff38-2d52-4397-8b09-be018770227a" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO testdb.users (userId, username) values (500, 'User5')]]></db:sql>
		</db:insert>
		<set-payload value="#[output applicaton/json --- payload]" doc:name="Set Payload" doc:id="f5b6ab5f-a2f5-4f75-a17b-59da8e8a2dcd" />
	</flow>

	<flow name="DB-Update-Flow" doc:id="3f254a47-6af7-4b6b-866d-8b96a2348568" >
		<http:listener doc:name="Listener" doc:id="1c8300a4-56da-490e-a704-033cbdea75a2" config-ref="HTTP_Listener_config" path="/test/db/update">
			<http:error-response >
				<http:body ><![CDATA[#[output text/plain --- 'Failed']]]></http:body>
			</http:error-response>
		</http:listener>
		<db:update doc:name="Update" doc:id="7286e4ed-eee5-4278-b000-449b1b2485d2" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE testdb.users set username = 'User500' where userId = 500]]></db:sql>
		</db:update>
		<set-payload value="#[output applicaton/json --- payload]" doc:name="Set Payload" doc:id="f5b6ab5f-a2f5-4f75-a17b-59da8e8a2dcd" />
	</flow>

	<flow name="DB-delete-Flow" doc:id="3f254a47-6af7-4b6b-866d-8b96a2348568" >
		<http:listener doc:name="Listener" doc:id="1c8300a4-56da-490e-a704-033cbdea75a2" config-ref="HTTP_Listener_config" path="/test/db/delete">
			<http:error-response >
				<http:body ><![CDATA[#[output text/plain --- 'Failed']]]></http:body>
			</http:error-response>
		</http:listener>
		<db:delete doc:name="Delete" doc:id="ab5a80fe-6735-4edc-a15c-5d5104c78c2b" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from testdb.users where userId = 500]]></db:sql>
		</db:delete>
		<set-payload value="#[output applicaton/json --- payload]" doc:name="Set Payload" doc:id="f5b6ab5f-a2f5-4f75-a17b-59da8e8a2dcd" />
	</flow>

</mule>
