src/test/resources/mule-opentelemetry-http.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:opentelemetry="http://www.mulesoft.org/schema/mule/opentelemetry" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/opentelemetry http://www.mulesoft.org/schema/mule/opentelemetry/current/mule-opentelemetry.xsd">

	<import file="global-common.xml"/>

	<http:request-config name="INVALID_HTTP_BasePath_Request_configuration" doc:name="HTTP Request configuration" doc:id="c18eed36-eb42-4c29-abc9-9e7a2c6049e1" basePath="/api" >
		<http:request-connection host="0.0.0.0" port="9085" />
	</http:request-config>
	<flow name="mule-opentelemetry-app-2Flow" doc:id="ddcac188-d00c-4614-ba69-5deef8575938" >
		<http:listener doc:name="Listener" doc:id="96ac0ccd-1027-495e-9dbd-57f176233ff3" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="97393612-d33a-466f-b9b5-600a21098532" />
		<set-payload value="Received in App2" doc:name="Set Payload" doc:id="6bb91307-b173-4256-8c64-491dad475af7" />
		<logger level="INFO" doc:name="Logger" doc:id="f0b7d26d-3f66-4bed-afeb-f70fa8d739ec" />
	</flow>
	<flow name="mule-opentelemetry-app-2-interceptor-test" doc:id="ddcac188-d00c-4614-ba69-5deef8575938" >
		<logger level="INFO" doc:name="Logger" doc:id="97393612-d33a-466f-b9b5-600a21098532" />
		<set-payload value="Received in App2" doc:name="Set Payload" doc:id="6bb91307-b173-4256-8c64-491dad475af7" />
		<logger level="INFO" doc:name="Logger" doc:id="f0b7d26d-3f66-4bed-afeb-f70fa8d739ec" />
	</flow>
	<flow name="mule-opentelemetry-app-2Flow-requester-error" doc:id="ddcac188-d00c-4614-ba69-5deef8575938" >
		<http:listener doc:name="Listener" doc:id="96ac0ccd-1027-495e-9dbd-57f176233ff3" config-ref="HTTP_Listener_config" path="/test-invalid-request"/>
		<logger level="INFO" doc:name="Logger" doc:id="97393612-d33a-466f-b9b5-600a21098532" />
		<set-payload value="Received in App2" doc:name="Set Payload" doc:id="6bb91307-b173-4256-8c64-491dad475af7" />
		<http:request method="GET" doc:name="Request" config-ref="INVALID_HTTP_Request_configuration" path="/remote/invalid"/>
		<logger level="INFO" doc:name="Logger" doc:id="f0b7d26d-3f66-4bed-afeb-f70fa8d739ec" />
	</flow>
	<flow name="mule-opentelemetry-app-2-private-Flow-requester-error" doc:id="ddcac188-d00c-4614-ba69-5deef8575938" >
		<logger level="INFO" doc:name="Logger" doc:id="97393612-d33a-466f-b9b5-600a21098532" />
		<set-payload value="Received in App2" doc:name="Set Payload" doc:id="6bb91307-b173-4256-8c64-491dad475af7" />
		<http:request method="GET" doc:name="Request" config-ref="INVALID_HTTP_Request_configuration" path="/remote/invalid"/>
		<logger level="INFO" doc:name="Logger" doc:id="f0b7d26d-3f66-4bed-afeb-f70fa8d739ec" />
	</flow>
	<flow name="mule-opentelemetry-app-2-private-Flow-requester_basepath" doc:id="ddcac188-d00c-4614-ba69-5deef8575938" >
		<logger level="INFO" doc:name="Logger" doc:id="97393612-d33a-466f-b9b5-600a21098532" />
		<set-payload value="Received in App2" doc:name="Set Payload" doc:id="6bb91307-b173-4256-8c64-491dad475af7" />
		<http:request method="GET" doc:name="Request" config-ref="INVALID_HTTP_BasePath_Request_configuration" path="/remote/invalid"/>
		<logger level="INFO" doc:name="Logger" doc:id="f0b7d26d-3f66-4bed-afeb-f70fa8d739ec" />
	</flow>
	<flow name="Server400TestFlow"
		  doc:id="f42f8120-fb86-4213-8808-4c1e3795816c">
		<http:listener doc:name="Listener"
					   doc:id="fee82c53-3e44-4163-b71d-0a26891562d7"
					   config-ref="HTTP_Listener_config" path="/test/error/400">
			<http:response statusCode="400" />
		</http:listener>
		<logger level="INFO" doc:name="Logger"
				doc:id="d7c9aa3a-63ec-407f-ab77-e71d3cd67519" message="start" />
	</flow>
	<flow name="mule-opentelemetry-app-2-context-propagation-source" doc:id="ddcac188-d00c-4614-ba69-5deef8575938" >
		<http:listener doc:name="Listener" doc:id="96ac0ccd-1027-495e-9dbd-57f176233ff3" config-ref="HTTP_Listener_config" path="/test/propagation/source"/>
		<set-payload value="Received in App2" doc:name="Set Payload" doc:id="6bb91307-b173-4256-8c64-491dad475af7" />
		<http:request method="GET" doc:name="Request" config-ref="SELF_HTTP_Request_configuration" path="/test/propagation/target">
			<http:headers ><![CDATA[#[output application/java
---
{
	"traceparent" : vars.OTEL_TRACE_CONTEXT.traceparent as String
}]]]></http:headers>
		</http:request>
	</flow>
	<flow name="mule-opentelemetry-app-2-context-propagation-target" doc:id="ddcac188-d00c-4614-ba69-5deef8575938" >
		<http:listener doc:name="Listener" doc:id="96ac0ccd-1027-495e-9dbd-57f176233ff3" config-ref="HTTP_Listener_config" path="/test/propagation/target"/>
		<set-payload value="From Propagation target" doc:name="Set Payload" doc:id="6bb91307-b173-4256-8c64-491dad475af7" />
	</flow>
</mule>
