src/test/resources/mule-http-attributes.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:opentelemetry="http://www.mulesoft.org/schema/mule/opentelemetry" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/opentelemetry http://www.mulesoft.org/schema/mule/opentelemetry/current/mule-opentelemetry.xsd">


	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="79881531-bfaa-49fd-8227-b67e35d64cf8" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>

	<http:request-config name="HTTP_Receiver" doc:name="HTTP Request configuration" doc:id="c18eed36-eb42-4c29-abc9-9e7a2c6049e1" >
		<http:request-connection host="localhost" port="${http.port}" />
	</http:request-config>

	<opentelemetry:config name="OpenTelemetry_Config" doc:name="OpenTelemetry Config" doc:id="91477cb5-36f7-48ad-90b7-c339af87b408" serviceName="api-app-1">
		<opentelemetry:exporter >
			<opentelemetry:generic-exporter >
				<opentelemetry:config-properties >
					<opentelemetry:config-property key="otel.traces.exporter" value="delegatedLogging" />
				</opentelemetry:config-properties>
			</opentelemetry:generic-exporter>
		</opentelemetry:exporter>
		<opentelemetry:resource-attributes >
			<opentelemetry:attribute key="mule.env" value="Dev" />
		</opentelemetry:resource-attributes>
	</opentelemetry:config>


	<flow name="sender-attributes" doc:id="ddcac188-d00c-4614-ba69-5deef8575938" >
		<http:listener doc:name="Listener" doc:id="96ac0ccd-1027-495e-9dbd-57f176233ff3" config-ref="HTTP_Listener_config" path="/http/sender/attributes"/>
		<http:request method="GET" doc:name="Request" config-ref="HTTP_Receiver" path="/http/receiver/attributes" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"test-header" : "test-value"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"orderId" : "12345"
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"test-query-param" : "test value"
}]]]></http:query-params>
		</http:request>
		<set-variable variableName="httpStatus" value="#[200]"/>
	</flow>

	<flow name="receiver-attributes" doc:id="ddcac188-d00c-4614-ba69-5deef8575938" >
		<http:listener doc:name="Listener" doc:id="96ac0ccd-1027-495e-9dbd-57f176233ff3" config-ref="HTTP_Listener_config" path="/http/receiver/attributes"/>
		<logger level="INFO" doc:name="Logger" doc:id="97393612-d33a-466f-b9b5-600a21098532" />
	</flow>
</mule>
